{% load static %}
<link href="{% static 'estilos.css' %}", rel="stylesheet"/>
<html>
    <body>
    <head>
        <h1>Tabla de partidas</h1>
        <table>
            <thead>
            <tr>
            <th>ID</th>
            <th>fecha</th>
            <th>id_usuario</th>
            <th>minutos_jugados</th>
            <th>puntaje</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
            <td>{{ i.4 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </head>
    </body>
</html>